<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        
        {% endblock %}

        /* {% for sub_agent in sub_agents %}

            {{ sub_agent.companyId }} // Get the data of this companyId in my company table

        {% endfor %} */

        {% block javascripts %}{% endblock %}
    </body>
</html>
